.full-page {
  height: 50vh;
  width: 100vw;
}

.loginSection {
  margin: auto;
  margin-top: 160px;
  width: calc(var(--colSpace) * 7 + var(--colW) * 8);
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--blue);
  box-shadow: 0 0 0 3px var(--blue);
}

.btns__login {
  display: flex;
  flex-direction: line;
  justify-content: space-between;
  position: relative;
  top: 0.7px;
}

.btn__login {
  width: 50%;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1.5em;
  background-color: transparent;
  font-size: 16px;
  outline: none;
}

.form-selected {
  background-color: white;
  color: black;
}

.signUp__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px 40px 60px;
  border-radius: 10px;
}

select {
  outline: none;
  border-radius: 10px;
  border: solid 1px var(--lighterBlue);
  height: 40px;
  width: calc(var(--colW) * 6 + var(--colSpace) * 5);
  padding: var(--colSpace);
  background-color: white;
  appearance: none;
  cursor: pointer;
  background-image: url('../../images/dropdownArrow.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: right var(--colSpace) top 50%;
  padding: 0 var(--colSpace);
}

.signUp__form > .last-elem {
  margin: 0;
}

.error-message {
  color: var(--red);
}

.btn__submit {
  display: flex;
  justify-content: center;
}

.section__form {
  background-color: white;
  padding-bottom: 40px;
}
.rounded-left {
  border-top-left-radius: 20px !important;
}
.rounded-right {
  border-top-right-radius: 20px !important;
}

@media screen and (max-width: 768px) {
  .loginSection {
    position: absolute;
    margin: 0;
    top: 100px;
    left: 50vw;
    transform: translate(-50%);
    width: 100%;
    border-radius: 0;
    overflow: visible;
    box-shadow: none;
  }
  .section__form {
    box-shadow: 0 0 0 2px white;
  }
  .signUp__form {
    padding: 40px 0 40px 0;
    border-radius: 0;
  }
  .btn__login {
    border-radius: 0;
  }
  .form-selected {
    border: none;
    box-shadow: none;
  }
}
